.listTop50ActiveTokens {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 24px;
    color: antiquewhite;
    padding-left: 40px;
}

.listTop50ActiveTokens-container {
    position: relative;
    display: block;
}


.listTop50ActiveTokens-img {

    width: 32px;
    height: 32px;
}

.listTop50ActiveTokens-container .listTop50ActiveTokens-img{
   position: absolute;
   left: 10%;
   top: 55%;
   transform: translate(-50%, -50%);
   margin-left: 10px;
}

.token_50_list_container {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 10px 10px;
}

.ml-30 {
    margin-left: 30px;
}

.button_top_50_tokens {
    margin-left: 15px;
}
.top_50_tokens_link {
    display: block;
    width: 70%;
}