.listTop50ActiveTokens {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 24px;
}

.listTop50ActiveTokens-container {
    position: relative;
}

.token_addr_link {
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-150 {
    width: 150px;
}

.listTop50ActiveTokens-img {

    width: 32px;
    height: 32px;
}

.listTop50ActiveTokens-container .listTop50ActiveTokens-img{
   position: absolute;
   left: 0%;
   top: 65%;
   transform: translate(-50%, -50%);
   margin-left: 10px;
}


.ml-30 {
    margin-left: 30px;
}

.abs-pos-50px {

    position: absolute;
    right: 50px;
}