body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mycanvas, #mycanvas, canvas {
  max-width:260px;
  max-height: 260px;
  background-color: transparent;
}


.chart-container {
  width: 400px; height:280px;
  margin: 0 auto;
}

.mywidget {
	display: flex;
	max-width: 100%;
	overflow-x: hidden;
}

.top-widget {
	position: absolute;
	top: 0;
	left: 0;
}

/*overrides */
.coinPriceBlock-wrapper--dark {
	background-color: transparent;
}